.intro {
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.text{
  margin-top: 30px;
  margin-bottom: 20px;
}

.input {
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
  border-image: initial;
  margin-left: 20px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
